.image1{
    border: 3px solid black;
}

.carousel{
    width: 100%;
    height: 25rem;
    border-radius: 1rem;

    overflow-x: auto;
    overflow-y: hidden;

    
}

.carousel{
    display: flex;
}

.carousel>img{
    flex: 0 0 100%;
    height: 100%;
    object-fit: cover;
}

.carousel{
    position: relative;
}
.carousel{
    position: sticky;
    left:0;
}

.carousel{
    scroll-snap-type:x mandatory;
}

.carousel>img{
scroll-snap-align: start;
}

/*styling af tekst*/
.adresse{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}

.grid_1-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--clr-prim-brown);
    font-family: var(--ff-main);
    font-size: var(--size-16px);
    line-height: var(--lineheight-24px);

    margin-top: 25px;
}




.h1_ourstory, .h1_Thevibe, .h1_kødbyen{
    position: relative;
    display: flex;
    justify-content: center;
}

.h1_kødbyen{
    padding-bottom: 0;
}

.div_img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.div_text, .div_text2, .div_text3{
font-family: var(--ff-second);
color: var(--clr-prim-lightGrey);
font-weight: var(--fw-regular);
font-size: var(--size-16px);
width: 45ch;
line-height: var(--lineheight-24px);
padding: 5%;
}


.opening_time{
    list-style-type: none;
}


/**Google_maps**/
.google_maps{
 display: flex;
 zoom: 50%;
 width: auto;
 overflow: hidden;
}

.maps_btn{
    display: flex;
    justify-content: center;
    padding-top:5%;
    font-family: var(--ff-main);
    font-weight: var(--fw-regular);
    font-size: var(--size-14px);
}
.maps_btn a{
    color: var(--clr-prim-black);
    text-decoration: none;
}
.maps_btn button{
    width: 215px;
    height: 36px;
    border: 2px solid var(--clr-prim-black);
    background-color: var(--clr-prim-lightGrey);
}
.maps_btn :hover{
    background-color: var(--clr-tint-grey3);
    text-decoration: underline;
}

.maps_btn :active{
    background-color: var(--clr-tint-grey1);
}


.div_img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.div_text2, .div_text3{
 margin-top:0;
}


/****Media quaries for desktop****/

@media(min-width: 1200px){


    /*Section 3 */
    .grid2_1-1{
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        margin-top: 2%;
        column-gap: 2%;
        height: 80%;
        overflow: hidden;
    }
    .div_text{
        display: grid;
        grid-column: 2;
        grid-row: 1;
        width: 65ch;
        height: fit-content;
        justify-content: center;
        padding-top:40%;
        padding-left: 0;
        column-gap: 0;
    }
    .h1_ourstory{
        display: inline-block;
        height: fit-content;
        grid-column: 2;
        grid-row: 1;
        position: relative;
        margin-top: 27%;
        column-gap: 1rem;
    }

    .div_img {
        display: grid;
        grid-column: 1;
        height: 100%;
        width: 100%;
        column-gap: 0.5rem;
     }
    





/*section 4*/
.grid3_1-1{
    border: 3px solid red;
    display: grid;
    grid-template-columns: 2fr 1fr;
}


.div_text2{
    border: 3px dotted orange;
    display: grid;
    grid-column: 1;
    padding: 0;
    width: 65ch;
}

.div_img2{
    display: grid;
    grid-column: 2;
}
.h1_kødbyen h1{
    margin:0;
}
.h1_kødbyen{
    border: 3px solid red;
    display: grid;
        width: fit-content;
        grid-column: 1;
        grid-row: 1;
        position: relative;
        margin-top: 11%;
        padding-right:0;
        margin: 0;
        padding-left: 20%;
}
}