h1 {
  font-family: margot, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  text-align: center;
}

h2 {
  font-family: coranto-2, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: white;
}

p {
  font-family: coranto-2, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;

  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="send"] {
  background-color: #d6a96f;
  color: #39322c;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.kontakt {
  margin: 20px;
}

.kontakt form {
  font-family: coranto-2, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}
@media (min-width: 319px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}
